[submodule "darknet"]
	path = darknet
	url = https://github.com/allefabbri/darknet
	branch = dev/tracking
[submodule "jsoncons"]
	path = jsoncons
	url = https://github.com/danielaparker/jsoncons.git
[submodule "cmake"]
	path = cmake
	url = https://github.com/cenit/cmake-modules
