*.o
*.dSYM
*.csv
*.out
*.png
*.jpg
*.pyc
*.exe
*.a
*.so
*.dylib
*.lib
*.dll
darktrack
dump_frame
dump_stream
uselib
uselib_*
save_frame
save_stream
src/auto/*
data/
data

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

build/
build_*/
bin/
.vs/
.vscode/
*.weights

*.avi
*.mp4
