[submodule "darknet"]
	path = darknet
	url = https://github.com/cenit/darknet
	branch = dev/cenit/yolov3
[submodule "src/jsoncons"]
	path = src/jsoncons
	url = https://github.com/danielaparker/jsoncons
