*.o
*.dSYM
*.csv
*.out
*.png
*.jpg
*.pyc
old/
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
darknet.exe
libdarknet.a
libdarknet.so
libdarknet_lib.dylib
darknet.lib
darknet.dll
.fuse*

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

log.txt

build/
build_debug/
bin/
output/
.vs/
.vscode/
*.weights

libdarknet_lib.so
libdarknet.so
darknet_lib.lib
darknet_lib.dll
darknet_cuda.lib

darkcrowd
darktrack
darkcrowd_*.exe
darktrack_*.exe
darkcrowd_*.c
darktrack_*.c
darkcrowd_*
darktrack_*
dump_stream
dump_stream.exe
save_frame_*
dump_frame
dump_frame.exe

*.avi
images/
*.sw_ver
