*.o
*.dSYM
*.csv
*.out
*.png
*.jpg
*.pyc
*.exe
*.a
*.so
*.dylib
*.lib
*.dll
src/auto/*

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

build/
build_*/
bin/
.vs/
.vscode/
*.weights
data/
data
*.avi
*.mp4
darktrack
dump_frame
dump_stream
save_stream
uselib
uselib_track

