BARRIER_TOP             = 100
BARRIER_BOTTOM          = 1000
BARRIER_LEFT            = 300
BARRIER_RIGHT           = 1600
TOLL                    = 100
SCALE_X                 = 1
SCALE_Y                 = 10
DIST_THRESH             = 100
PEOPLEBOX_ID            = LAB
CAMERA_IP               = 131.154.10.192
CAMERA_CREDENTIALS      = root:camera
DETECTION_TYPE_TRACK    = tracking
BARRIER_IN              = UP
BARRIER_OUT             = DOWN
DIRECTION               = UP_DOWN
C0                      = 0
C1                      = 1
C2                      = 0
C3                      = 0
C4                      = 0
C5                      = 0
MAX_FRAME_INFO_TO_STORE = 10
JSON_FOLDER             = data
SAMPLING_DT_SEC         = 5
FPS                     = 3
#FILENAME                = /path/to/video